<% provide(:title, "Lets chat!") %>
<h4><i class="fa fa-skype"></i>&nbsp;<i class="fa fa-google-plus-square"></i> mikekeung</h4>
<h4><i class="fa fa-twitter"></i> <%= link_to "mkeung", "https://twitter.com/mkeung", target: "_blank" %></h4>
