<% provide(:title, "Home") %>
<p>Welcome! I decided to become a creator of things. What kind of things? Well, anything that brings me closer to making an impact on what is important to me. This is where I organize my thoughts and goals.</p>

<%= image_tag "fakecourage.jpg" %>