<% provide(:title, "Important things") %>

<h3><i class="fa fa-pencil"></i> Education</h3>
<p>
	Reflecting back on my 20 years of schooling, there is a lot of room for improvement. And this is with an above average experience as my parents always pushed for a good education.
</p>
<p>
	One of the patterns I noticed is that most people have no idea what they want to do. Yes as a kid I would hate math so it's important that school made me do it anyways, but why wasn't I exposed to cool things like robotics or programming in a way that would inspire me to willingly learn math? The only required computer related courses were typing and MS Office use, which didn't inspire me for cubicle work at all. Maybe curriculums are too rigid. I failed art in 3rd grade because I didn't follow instructions or something. Since when was art following instructions to the dot? And going into college, I had no idea what I wanted to do. Even after leaving college I had no idea what I wanted to do. College was just what was supposed to happen and I see so many of my peers investing the time and money into some degree, just to work some job that didn't need that/a degree to begin with. One of the things I like to ask people is "what is your dream job". Nobody ever knows.
</p>
<p>
	One of the areas helping with this is the internet. The distribution of knowledge has become so cheap, that I can take courses from even MIT or Harvard at no cost anytime I want. In fact, I am learning what I wish I learned in school right now through this. It is important that this opportunity continues to expand and that the availability / awareness of this becomes so widespread it becomes normal for everyone to tap into this on a regular basis.
</p>
<p>
	The other area I question is the structure of the school system itself in terms of how things are run. A lot of my friends are teachers, and it saddens me to hear about how politics gets in the way. I can remember both good and bad teachers from my past, but at the end of the day both were given the same allocation of my time, and the next student's time, repeating until the teacher retires. So how can we separate the good ones from the bad ones without stressing everyone out about career stability? The pay is shit already, yet our future as people depends on them. As an outsider looking in, it's easy to criticize but I think it's worth looking into.
</p>

<h3><i class="fa fa-globe"></i> Space</h3>
<p>
	I've always liked science fiction. It's just exciting to think about the possibilities that can happen if we venture beyond our planet. Things like asteroid mining or consumer space travel aren't even that far into the future on a relative scale. Maybe even some manufacturing will move into space with better results due to the environment change. I think these sorts of things could kick the economy and science developments into overdrive and just improve lives as a whole.
</p>
<p>
	Then there’s the whole doomsday asteroid hitting the earth, people using up all the planets resources, over population, sun blowing up (eventually) thing. Sure it probably won't happen in our lifetime, but why should we wait to address the issue?
</p>

<h3><i class="fa fa-gamepad"></i> Gaming</h3>
<p>
	Wait what? Why would gaming be grouped with education and space? Isn't it a waste of time? Well that is subjective. To me, gaming is a way to simulate experiences, pushing not only hardware / software, but also the insights into how our minds work.
</p>
<p>
	I remember when I first played Doom, I was terrified. Looking back, it's easy to laugh at the pixelated pinkys but the abstraction of what was going on was something I only experienced in nightmares. Same with Call of Duty 4, *spoiler warning* getting shot in the face and dying to a nuclear explosion really sucked and left a hole in my heart *end spoiler warning*. It is this abstraction that lets our minds wander, like reading a book, except the interactive nature of it makes the story your story. You are also given the freedom to deviate. If you pay attention and don't mindlessly zone out, these experiences and in-game choices can reveal things about yourself and your character. What is your drive? Are you a completionist, economy driven, like puzzles, or are entranced by storytelling? When completing objectives, is completion good enough or do you have to maximize and destroy the objective? Even games like Candy Crush reveal how reward and time driven you are.
</p>
<p>
	With the introduction of multiplayer, the element of human to human interaction is also mixed in. Are you a lone wolf or team player? Given the opportunity, do you play nice or do you exploit others? When you're sitting in voice chat with anonymous people, what do you like talking about that you would normally hide? You could be the leader or member of some elite group. Respected! Looked up to by other! Something that may be lacking in the real world...
</p>
<p>
	To some, these are all just distractions from reality. An escape into fantasy land. I agree, but why can't these things mix to make reality better? I remember playing Math Blaster, Reader Rabbit, and Oregon Trail. They taught me math, reading, and how difficult it was to survive back then...and these were extremely basic applications of gaming to education. If Doom can advance to Doom 3, with 3-d support and all that, how can we advance Reader Rabbit to teach people? How can we inspire people to think beyond Earth? Can the Oculus Rift be used for training for high risk situations or for better engineering work?
</p>
<p>
	These are the sort of things I think about when I play. I believe it isn't a waste of time (if managed), but an opportunity to study myself and improve the adoptability of whatever I build.
</p>
