<% provide(:title, "Update project") %>

<div class="row well">
  <%= form_for(@project) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "update project", class: "btn btn-primary" %>
  <% end %>
</div>