<% provide(:title, "What I'm working on") %>

<% if admin_signed_in? %>
  <div class="row well">
    <%= form_for(@new_project) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "add project", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>


<div class="row">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>